{
  "extends": ["eslint:recommended", "plugin:import/recommended", "prettier"],
  "plugins": ["import", "prettier"],
  "env": { "es6": true, "jest": true, "node": true, "commonjs": true },
  "parserOptions": { "ecmaVersion": 2021 },
  "rules": {
    "array-callback-return": [1, { "allowImplicit": true }],
    "global-require": 0,
    "import/default": 2,
    "import/export": 2,
    "import/named": 2,
    "import/namespace": 2,
    "import/newline-after-import": 1,
    "import/no-cycle": [2, { "maxDepth": 1, "ignoreExternal": true }],
    "import/no-deprecated": 1,
    "import/no-duplicates": 0,
    "import/no-mutable-exports": 2,
    "import/no-named-as-default-member": 1,
    "import/no-named-as-default": 1,
    "import/no-self-import": 2,
    "import/no-unresolved": 2,
    "import/no-useless-path-segments": [2, { "noUselessIndex": true }],
    "import/order": [
      1,
      {
        "alphabetize": { "order": "asc", "caseInsensitive": false },
        "groups": ["unknown", "builtin", "external", "internal", "sibling", "parent", "index", "object"],
        "newlines-between": "always"
      }
    ],
    "no-console": 1,
    "no-multi-assign": 1,
    "no-unused-vars": [1, { "ignoreRestSiblings": true, "args": "after-used" }],
    "no-use-before-define": 2,
    "no-var": 2,
    "one-var": [2, "never"],
    "prefer-arrow-callback": 1,
    "prefer-const": 1,
    "prefer-object-spread": 1,
    "prettier/prettier": 2
  },
  "settings": { "import/extensions": [".js", ".json"], "import/resolver": { "node": { "paths": ["./"] } } }
}
