<!DOCTYPE html>
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title #{subject}
    style
      include email.css
  body(align='center')
    br
    h2 Change password
    hr
    p #{name}, click the button below to change your password
    br
    a(class='btn', role='button', target='_blank', draggable='false', href=link, title='Verify') Change password
